{
    "server": "127.0.0.1",
    "server_port": 1024,
    "password": "password",
    "local_address": "127.0.0.1",
    "local_port": 1080,
    "method": "chacha20",
    "obfs": "http_simple",
    "obfs_param": "baidu.com",
    "protocol": "auth_sha1_v4",
    "protocol_param": "baidu.com",
    "timeout": 300,
    "workers": 1
}
